@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-darkBlue: #166b99;
  --max-width: 1200px;
  --color-dimwhite: #e8eaf7
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter)
}

@layer components {
  .hero-bg {
    background-image: url('/campus-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-link a {
    @apply text-darkBlue transition-all hover:underline mr-2
  }
}